:root {
    font-size: 16px; /* 1 rem is this value */

    /* Color Variables */
    --color_primary: #384b36;
    --color_white: #eeeeee;
    --color_dark: #303031;
    --color_background: #303031;
    --color_text: #eeeeee;
    --color_logo: #eeeeee;
    --color_link: #eeeeee;
    color-scheme: dark light;

}
/* Light Mode */
@media (prefers-color-scheme: light) {
    :root {
        --color_background: #ffffff; /* Light background */
        --color_text: #000000; /* Dark text */
        --color_logo: #384b36;
        --color_link: #384b36;
}
}
*, *::before, *::after {
    box-sizing: border-box;
}
*{
    margin: 0;
    padding: 0;
    font: inherit;
}
body {
    min-height: 100vh;
    background-color: var(--color_background);
    color: var(--color_text);
}
img, picture, svg, video{
    display: block;
    max-width: 100%;
}
/* Utility Classes */

.dancing-script_regular { /* <weight>: Use a value from 400 to 700 */
  font-family: "Dancing Script", cursive;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
.dancing-script_bold {
    font-family: "Dancing Script", cursive;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}
.font_small {
    font-size: 1rem;
}
.font_small_med {
    font-size: 1.25rem;
}
.font_med {
    font-size: 1.5rem;
}
.font_med_large {
    font-size: 2rem;
}
.font_large {
    font-size: 2.5rem;
}
.font_large_xl {
    font-size: 3rem;
}
.font_xl {
    font-size: 3.5rem;
}